<a href="https://colab.research.google.com/github/Tori-Stark/Linear-Regression/blob/main/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from scipy import stats
import matplotlib.pyplot as plt
from numpy import random
import pandas as pd

In [3]:
size=100

In [4]:
fake_data={'Office Size':random.normal(100,20,size), 'Office price':random.normal(1000,100,size)}

In [18]:
table=pd.DataFrame(fake_data)

In [19]:
table

    Office Size  Office price
0    111.902946   1097.637320
1    111.374887   1103.266468
2    105.409817   1115.130327
3     68.912790    994.629132
4     99.346118   1064.193052
..          ...           ...
95   129.921678    874.213284
96   109.555155   1083.892046
97   103.784294    891.807931
98    81.173251    997.561594
99   130.040987   1054.174751

[100 rows x 2 columns]

In [20]:
m=10
c=0.5

In [21]:
def y (row):
  return ((row['Office Size']*m)+c)

In [22]:
table['y'] = table.apply (lambda row: y(row), axis=1)

In [23]:
table

    Office Size  Office price            y
0    111.902946   1097.637320  1119.529464
1    111.374887   1103.266468  1114.248866
2    105.409817   1115.130327  1054.598174
3     68.912790    994.629132   689.627898
4     99.346118   1064.193052   993.961176
..          ...           ...          ...
95   129.921678    874.213284  1299.716782
96   109.555155   1083.892046  1096.051548
97   103.784294    891.807931  1038.342939
98    81.173251    997.561594   812.232511
99   130.040987   1054.174751  1300.909875

[100 rows x 3 columns]

In [30]:
def z (row):
  return (row['Office Size']-row['y'])**2

In [31]:
table['Mean Squares'] = table.apply (lambda row: z(row), axis=1)

In [32]:
table

    Office Size  Office price            y  Mean Squares
0    111.902946   1097.637320  1119.529464  1.015311e+06
1    111.374887   1103.266468  1114.248866  1.005756e+06
2    105.409817   1115.130327  1054.598174  9.009585e+05
3     68.912790    994.629132   689.627898  3.852872e+05
4     99.346118   1064.193052   993.961176  8.003361e+05
..          ...           ...          ...           ...
95   129.921678    874.213284  1299.716782  1.368421e+06
96   109.555155   1083.892046  1096.051548  9.731751e+05
97   103.784294    891.807931  1038.342939  8.733999e+05
98    81.173251    997.561594   812.232511  5.344476e+05
99   130.040987   1054.174751  1300.909875  1.370934e+06

[100 rows x 4 columns]

In [34]:
mean_square_error = (table['Mean Squares'].sum())/size

In [35]:
mean_square_error

860857.8757377582

In [ ]:
learning_rate=0.2

In [ ]:
x=1

In [ ]:
new_m= m-(learning_rate*(-2*x*mean_square_error))

In [ ]:
new_c= c-(learning_rate*(-2*mean_square_error))